@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A-RENT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bentley.css" />
</head>

<body>
    <header>

    
         <!--Navbar-->
        <nav class="navbar navbar-light light-blue lighten-4" style="background-color: #eb5757; opacity: 40%;" >

        <!-- Navbar brand -->

        <!-- IMAGEN LOGO -->
        <a  asp-controller="Index" asp-action="Index" style="margin-bottom: 5px;"><img src="~/images/logo.jpg"  width="85" height="85" style="margin-left: 10px;"></a>


        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 21px;">
        <img src="~/images/nav.png"  width="20" height="20" style="margin-bottom: 2px;"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto" style="margin-bottom: 10px;">
        @if (SignInManager.IsSignedIn(User))
        {    
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Index" style="font-weight: 500; color: #161515;">Inicio</a>
        </li>
        
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Bookings" asp-action="Index" style="font-weight: 500; color: #161515;">My Bookings</a>
        </li>
        
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Service" style="font-weight: 500; color: #161515;">Service Center</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Nosotros" style="font-weight: 500; color: #161515;">Nosotros</a>
        </li>
        
        <li class="nav-item" style="margin-left: 20px;">            
            <a class="nav-link" href="~/Home/logout" style="font-weight: 500; color: #161515;">Cerrar sesión</a>
        </li>
        }else{
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Index" style="font-weight: 500; color: #161515;">Inicio</a>
        </li>
        
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Service" style="font-weight: 500; color: #161515;">Service Center</a>
        </li>
        <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" asp-controller="Index" asp-action="Nosotros" style="font-weight: 500; color: #161515;">Nosotros</a>
        </li>
        
        <li class="nav-item" style="margin-left: 20px;">            
            <a class="nav-link" href="~/Home/Login" style="font-weight: 500; color: #161515;">Iniciar sesión</a>
        </li>    
        }
        </ul>
        <!-- Links -->

        </div>
        <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
      
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #eb5757; text-align: center;">
        <div class="container" style="color: #161515;">
            <p>&copy; A-RENT - Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
