<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A-RENT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>

    
         <!--Navbar-->
        <nav class="navbar navbar-light light-blue lighten-4" style="background-color: #eb5757;">

        <!-- Navbar brand -->

        <!-- IMAGEN LOGO -->
        <a asp-controller="Index" asp-action="Index"><img src="images/logo.jpg"  width="85" height="85" style="margin-bottom: 7px;"></a>


        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <img src="images/nav.png"  width="20" height="20"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Index" asp-action="Index">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Index" asp-action="Bookings">My Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Index" asp-action="Service">Service Center</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Index" asp-action="Nosotros">Nosotros</a>
        </li>
        </ul>
        <!-- Links -->

        </div>
        <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
      
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #eb5757; text-align: center;">
        <div class="container" style="color: #000000;">
            <p>&copy; A-RENT - Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
