@{
    ViewData["Title"] = "My Bookings";
}
<div class="container">
    <h1 class="display-4" style="font-weight: bold; margin-top: 30px; text-align: center;">My Bookings</h1>
</div>
<div style="margin-top: 35px; padding-bottom: 41px;">
    <div class="row">
        <table class="table" style="font-size: x-small;">
            <tr>
                <th class="text-center .col-xs-2"># ORDEN</th>
                <th class="text-center .col-xs-4" >MODELO</th>
                <th class="text-center .col-xs-3">FECHA RECOGIDA</th>
                <th class="text-center .col-xs-3">FECHA DEVOLUCIÓN</th>
            </tr>
        </table>
    </div>
</div>