@{
    ViewData["Title"] = "My Bookings";
}
<div class="text-center" style="padding-top: 15px;">
    <h1 class="display-4" style="font-weight: bold ;">My Bookings</h1>
</div>
<div style="padding-top: 20px;">
    <div class="row">
        <table class="table" style="font-size: x-small;">
            <tr>
                <th class="text-center .col-xs-2"># ORDEN</th>
                <th class="text-center .col-xs-4" >MODELO</th>
                <th class="text-center .col-xs-3">FECHA RECOGIDA</th>
                <th class="text-center .col-xs-3">FECHA DEVOLUCIÓN</th>
            </tr>
        </table>
    </div>
</div>