@{
    ViewData["Title"] = "Nosotros";
}
<div class="text-center" style="padding-top: 15px;">
    <h2 class="display-4" style="font-weight: bold ;">¿Quiénes somos?</h2>
</div>
<div class="container" style="text-align: center;">
    <img src="~/images/logo.jpg">
</div>
<div class="container" style="padding-top: 10px; padding-bottom: 10px;">
    <p>Nuestra empresa cuenta con una gran experiencia en la renta de autos. Somos pioneros en implmentar un programa de alquiler de autos de lujo en la ciudad. Contamos con una página web ofreciendo la facilidad de programar las fechas para el alquiler de vehículos de manera sencilla, rápida y segura.</p>
</div>

<div class="row" style="padding-top:10px; padding-bottom:25px; padding-left: 100px; ">

    <div class=".col-xs-4" style="padding-left:125px;"><a href="https://www.facebook.com/angieortiz.avalos"><img src="~/images/fb_logo.png" width="25" height="25"/></a></div>

    <div class=".col-xs-4"style="padding-left:25px;"><a href="https://www.instagram.com/angieortiz_a/"><img src="~/images/ig_logo.png" width="28" height="28"/></a></div>

    <div class=".col-xs-4"style="padding-left:25px;"><img src="~/images/twitter.jpg" width="26" height="26"/></div>

</div>

<div class="row" style="padding-top:10px; background-color: #161515;">

    <div class=".col-xs-2" style="padding-left:20px;"><img src="~/images/phone.png"/></div>
    <div class=".col-xs-4"><p style="color:#898989;">+51 922 653 075</p></div>

    <div class=".col-xs-2"style="padding-left:55px;"><img src="~/images/mail.png" width="25" height="25"/></div>
    <div class=".col-xs-4"style="padding-rigth:15px;"><p style="color:#898989;">support@arent.pe</p></div>

</div>