@{
    ViewData["Title"] = "Nosotros";
}
<div class="text-center" style="padding-top: 15px;">
    <h2 class="display-4" style="font-weight: bold ;">¿Quiénes somos?</h2>
</div>
<div class="container" style="text-align: center;">
    <img src="~/Images/logo.jpg">
</div>
<div class="container-fluid" style="padding-top: 10px;">
    <p>Nuestra empresa cuenta con una gran experiencia en la renta de autos. Somos pioneros en implmentar un programa de alquiler de autos de lujo en la ciudad. Contamos con una página web ofreciendo la facilidad de programar las fechas para el alquiler de vehículos de manera sencilla, rápida y segura.</p>
</div>