@{
    ViewData["Title"] = " Verificación Disponibilidad";
}

@model List<MB>

    <!--Título-->
    <div class="text-center" style="padding-top: 15px;">
        <h1 class="display-4" style="font-weight: bold ;">Disponibilidad del Auto</h1>
    </div>

    <div style="padding-top: 20px;">
        <table class="table">
            <tr>
                <th style="text-align: left;">Auto:</th>
            </tr>
            <tr>
                  
            </tr>
        </table>
    </div>
<div>
    <table class="table">
        <form action="">
            <tr>
                <td style="text-align: left;" colspan="2">Fecha de recogida:</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="09-01-2013">
                    <script>
                        $(function(){
                            $('#date').combodate();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;" colspan="2">Fecha de devolución:</td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="09-01-2013">
                    <script>
                        $(function(){
                            $('#date').combodate();
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><button type="button" class="btn btn-secondary">Consultar</button></td>
            </tr>
        </form>
    </table>
</div>
<div class="container">
    <label for="">Status:</label>
</div>
<div style="text-align: center;">
    <form action="">
        <button type="button" style="background-color: #eb5757;">Rentar</button>
    </form>
</div>