@{
    ViewData["Title"] = "My Bookings";
}
@model List<Bookings>
<div class="container">
    <h1 class="display-4" style="font-weight: bold; margin-top: 30px; text-align: center; color: #FFFFFF; opacity: 90%; ">My Bookings</h1>
</div>
<div style="margin-top: 35px; padding-bottom: 41px; background-color: #FFFFFF;">
    <div class="row">
        <table class="table" style="font-size: x-small;">
            <tr>
                <th class="text-center col-xs-2"># ORDEN</th>
                <th class="text-center col-xs-4">MODELO</th>
                <th class="text-center col-xs-3">FECHA RECOGIDA</th>
                <th class="text-center col-xs-3">FECHA DEVOLUCIÓN</th>
            </tr>
            @foreach (var booking in Model)
            {
                <tr>
                <td style="text-align: center;">@booking.id</td>
                <td style="text-align: center;">@booking.modelo_auto</td>
                <td style="text-align: center;">@booking.fecha_rec</td>
                <td style="text-align: center;">@booking.fecha_dev</td>
                </tr>
            }
        </table>
    </div>
</div>