@{
    ViewData["Title"] = "Contacto-Soporte";
}

<body>  
    <div>
        <h1 class="display-3">Service Center</h1>
        <div>
            <p>Contáctanos en:</p>
            <img src="images\fb_logo" >
        </div>


    </div>

</body>