@{
    ViewData["Title"] = "Home";
}

@{
    Layout="_Layout_Home";
}

<body style="background-color: #eb5757;">  
    <div style="margin-top: 150px;">
        <div style="text-align: center;">
            <img src="~/images/logo.jpg" width="275" height="275">
        </div>
        <div style="text-align: center; margin-top: 50px;">
            <button type="button" class="btn btn-secondary" asp-action="Login">Let's start</button>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <a asp-controller="Index" asp-action="Index">Continuar como invitado</a>
        </div>
    </div>
</body>