@{
    ViewData["Title"] = "Login";
}
@{
    Layout="_Layout_Home";
}

<body style="background-color: #eb5757;">
    <div style="margin-top: 150px;">
        <div style="text-align: center;">
            <img src="~/images/logo.jpg" alt="Logo A'rent">
        </div>
            <div class="form-group">
              <label for="Email">Correo Electronico</label>
              <input type="email" class="form-control" id="Email" placeholder="Correo Electronico">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Pass" placeholder="*********">
            </div>
    <div id="form-login-remember" class="form-group">
        <button class="btn btn-secondary" asp-action="Login">Ingresar</button>
        </div>
        <div style="text-align: center;">
            <a asp-action="SingUp">Abrir una nueva cuenta</a>
        </div>
    </div>
</body>