@{
    ViewData["Title"] = "SignUp";
}
@model Usuario

@{
    Layout="_Layout_LogSing";
}

    
    <div class="container h-100" style="margin-bottom: 50%;">
		  <div class="d-flex justify-content-center h-100">
			  <div class="sing_card" style="margin-top: 75px;" >
          <div class="d-flex justify-content-center">
					  <div class="brand_logo_container">
						  <img src="~/images/logo.jpg" class="brand_logo" alt="Logo">
					  </div>
				  </div>
          <h3 style="text-align: center; margin-top: 95px; color: #FFFFFF;">Regístrate</h3>

          <form method="post">          

            <div class="container h-100">

              <div class="form-group">
                <label asp-for="nombre" style="color: #FFFFFF;"></label>
                <input type="text" asp-for="nombre" class="form-control" placeholder="Ej: Alexander">
                <span asp-validation-for="nombre" class="text-danger"></span>  
              </div>
              <div class="form-group">
                <label asp-for="apellido" style="color: #FFFFFF;"></label>
                <input type="text" asp-for="apellido" class="form-control" placeholder="Ej: Santos">
                <span asp-validation-for="apellido" class="text-danger"></span>
              </div>              
              <div class="form-group">
                <label asp-for="dni" style="color: #FFFFFF;"></label>
                <input type="text" asp-for="dni" class="form-control" placeholder="Ej: 72259194">
                <span asp-validation-for="dni" class="text-danger"></span>
              </div>              
              <div class="form-group">
                <label asp-for="celular" style="color: #FFFFFF;"></label>
                <input type="text" asp-for="celular" class="form-control" placeholder="Ej: +51 987456632">
                <span asp-validation-for="celular" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="email" style="color: #FFFFFF;"></label>
                <input type="email" asp-for="email" class="form-control" placeholder="Ej: Diego_slc@usmp.pe">
                <span asp-validation-for="email" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="password" style="color: #FFFFFF;"></label>
                <input type="password" asp-for="password" class="form-control" placeholder="************">
                <span asp-validation-for="password" class="text-danger"></span>
              </div>
                          
                  <div class="d-flex justify-content-center mt-3 login_container">
                    <button type="submit" name="button" class="btn login_btn" style="margin-top: 20px;">Login</button>
                  </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>

