@{
    ViewData["Title"] = "SingUp";
}

@model Usuario


    <div asp-validation-summary="All"></div>
    <div>
        <h1 class="display-3">Regístrate</h1>
        <form method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label asp-for="nombre"></label>
                <input type="text" asp-for="nombre" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label asp-for="apellido"></label>
                <input type="text" asp-for="apellido" class="form-control">
              </div>
            </div>
            <div class="form-group">
                Género:
                <select name="genero" id="" class="form-control">
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                </select>
            </div>
            <div class="form-group">
              <label asp-for="dni"></label>
              <input type="text" asp-for="dni" class="form-control">
            </div>
            <div class="form-group">
              <<label asp-for="celular"></label>
              <input type="text" asp-for="celular" class="form-control">
            </div>
            <div class="form-group">
              <label asp-for="email"></label>
              <input type="text" asp-for="email" class="form-control">
            </div>
            <div class="form-group">
              <label asp-for="password"></label>
              <input type="text" asp-for="password" class="form-control">
            </div>

            <button type="button" class="btn btn-primary">Enviar</button>
          </form>
    </div>

