@{
    ViewData["Title"] = "Mercedes Benz";
}
<div class="text-center" style="padding-top: 15px;">
    <img src="images\logo.jpg" width="280" height="75">



    <img src= "~/images/mb_amga35.jpeg" >
</div>