@{
    ViewData["Title"] = "Mercedes Benz";
}
<div class="text-center" style="padding-top: 15px;">
    <img src="~/images/mb_logo.png" width="280" height="75">
</div>

<div class="container">
    <form action="" method="post">
    <table>
        <tr>
            <th colspan="2"></th>
        </tr>
        <tr>
            <td>
                <img src="~/images/mb_amga35.jpeg" width="280" height="75">
            </td>
            <td>
                <button class="btn btn-primary">Consultar</button>
            </td>
        </tr>

    </table>
    </form>
</div>    